.maingrid {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.litegrid {
  display: inline-grid;
  margin-top: 1em;
  grid-template-columns: repeat(4, auto);
}

@media screen and (min-width: 768px) {
  .maingrid {
    grid-template-columns: repeat(6, auto);
  }
  .litegrid {
    grid-template-columns: repeat(6, auto);
  }
}

@media screen and (min-width: 992px) {
  .maingrid {
    grid-template-columns: repeat(8, auto);
  }
  .litegrid {
    grid-template-columns: repeat(12, auto);
  }
}

.maingrid > div,
.litegrid > div {
  text-align: center;
}
